build
dist
token.json
*.xlsx
*.pyc
node_modules
CookITMobile/**/*

# Ignore sensitive files
source/token.json
source/credentials.json
/python_resources/dist/
/python_resources/build/
/python_resources/venv/
*.spec
