@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.bg-dark {
    background-color: #1F2937;
}

.text-white {
    color: white;
}

.cardBackground {
  background-color: rgba(242, 188, 66, 1);
}

.modalBackground {
  background-color: #f7f7f7;
}

.headerItems {
  color: #3c2f1a;
}

.cardButtonBg {
  background-color:	#db601e;
  text-transform: uppercase;
}

.addNewRecipeBtnEnabled {
  background-color: #3c2f1a;
  text-transform: uppercase;
}


.addNewRecipeBtnDisabled {
  background-color: rgba(242, 188, 66, 1);
  text-shadow: 1px 1px #181818;
  text-transform: uppercase;
}

.addRecipeInputColor {
  color: white;
}

.addRecipeEmpty {
  background-color: #F9DDA1;
  color: #3c2f1a;
  font-weight: bold;
}

.addRecipeWritten {
  background-color: rgba(242, 188, 66, 1);
  color: #3c2f1a;
  font-weight: bold;
}

.cardQuitBtn {
  background-color: #041556;
  color: white;
  width: 28%;
  margin: 0 auto;
  text-transform: uppercase;
  text-shadow: 1px 1px #181818;
}