@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.bg-dark {
    background-color: #1F2937;
}

.text-white {
    color: white;
}

.cardBackground {
  background-color: #FBE7A0;
}

.commentBackground {
  background-color: #f7f0e2;
}

.modalBackground {
  background-color: #f7f7f7;
}

.headerItems {
  color: #6B4F37;
}

.cardButtonBg {
  background-color:	#E06D3D;
  text-transform: uppercase;
}

.cardButtonBg2 {
  background-color:	#E06D3D;
}

.addNewRecipeBtnEnabled {
  background-color: #6B4F37;
  text-transform: uppercase;
}

.addNewRecipeBtnDisabled {
  background-color: #F2BC42;
  text-shadow: 1px 1px #181818;
  text-transform: uppercase;
}

.addRecipeInputColor {
  color: white;
}

.addRecipeEmpty {
  background-color: #FBE7A0;
  color: #6B4F37;
  font-weight: bold;
}

.addRecipeWritten {
  background-color: #F2BC42;
  color: #6B4F37;
  font-weight: bold;
}

.cardQuitBtn {
  background-color: #2C3E50;
  color: white;
  width: 28%;
  margin: 0 auto;
  text-transform: uppercase;
  text-shadow: 1px 1px #181818;
}